@import '../../public/css/pubilc.scss';

.usr {
  &-info {
    display: flex;
    justify-content: space-between;
    padding: .5rem 2rem;
    background: $bgWhite;
    img {
      border-radius: 100%;
      width: 3rem;
      height: 3rem;
      background: $btnColor;
    }
    &-name {
      width: 70%;
      height: 3rem;
      line-height: 3rem;
      font-size: .9rem;
      .anticon{
        color: $btnColor;
        float: right;
        line-height: 3rem;
        font-size: 1.2rem;
      }
    }
  }
  &-list {
    display: flex;
    padding:  .5rem 0rem;
    margin-top: 1.5rem;
    background:  $bgWhite;
    &-li {
      width: 25%;
      height: 3rem;
      text-align: center;
      &-icon .anticon {
        font-size: 2rem;
        color: $textColor;
      }
      &-tit span {
        color: $textColor;
      }
    }
  }
}

.info {
  width: 100%;
  &-li {
    padding: 0 5%;
    border-bottom: 2px solid $borderColor;
    height: 3rem;
    line-height: 3rem;
    background: $bgWhite;
    span {
      margin-left: 1.2rem;
    }
  }
  .anticon, .pcicon {
    font-size: 1.2rem;
  }
  .anticon-right {
    float: right;
    line-height: 3rem;
    color: $textColor;
  }
  &-btn {
    margin-left: 5%;
    margin-top: 1.5rem;
    width: 90%;
    height: 2.4rem;
  }
}

.set {
  text-align: center;
  &-input {
    padding:  0 5%;
    border: 0;
    border-bottom: 1px solid $borderColor;
    width: 100%;
    height: 3rem;
    font-size: .8rem;
  }
  &-tip {
    margin-top: .5rem;
  }
  &-btn {
    margin-top: 2rem;
    width: 90%;
    height: 3rem;
  }
}