@import  '../../../public/css/pubilc.scss';

.header{
  position: fixed;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  color: #fff;
  background: $backColor;
  text-align: center;
  &-back {
    float: left;
    margin-right: .5rem;
    font-size: 1.5rem;
    &-hidden {
      display: none;
    }
  }
  &-user {
    float: right;
    margin-right: .5rem;
    font-size: 1.5rem;
    &-hidden {
      display: none;
    }
  }
  &-title {
    font-size: 1.2rem;
  }
}