$backColor: #b73c37;
$btnColor: #e84e40;
$borderColor: #bbb;

.btn {
  border: 0;
  border-radius: 5px;
  background: $btnColor;
  color: #fff;
}

.index-cont {
  position: relative;
  top: 3rem;
}

.strong-span {
  color: #000;
}