$backColor: RGBA(183, 60, 55, 1.00);
$btnColor: #e84e40;
$qianColor: rgba(222,222,222,1);
$bgColor: RGBA(240, 237, 240, 1.00);
$bgWhite: #fff;
$borderColor: RGBA(222, 222, 222, 1.00);
$btnDis: #bbb;
$textColor: #000;