@import '../../../public/css/pubilc.scss';

.datepicker {
  .ant-calendar-picker-input {
    border: 0;
    border-radius: 0;
    height: 42px;
    font-size: 1.4rem;
    color: $btnColor;
    text-align: center;
  }
  .ant-calendar-picker-icon {
    display: none;
  }
}

.ant-calendar-picker-container {
  left: 0 !important;
  width: 100%;
  .ant-calendar {
    width:100%;
    font-size: 1rem;
    color: $btnColor;
    &-input {
      text-align: center;
      color: $btnColor;
    }
    &-header {
      height: 2.5rem;
      line-height: 2.5rem;
    }
    &-ym-select>a {
      color: $btnColor;
    }
    &-next-year-btn, &-prev-year-btn {
      display: none;
    }
    &-next-month-btn, &-prev-month-btn {
      font-size: 2rem;
      font-weight: 900;
      color: $btnColor;
    }
    &-today-btn {
      color: $btnColor;
      height: 3rem;
    }
    &-date {
      width: auto !important;
      height: 3rem;
      line-height: 3rem;
    }
  }
}
// 选中的按钮
.ant-calendar-selected-day .ant-calendar-date{
  background: $btnColor;
  color: #fff !important;
}
.ant-calendar-date:active {
  background: $btnColor !important;
  color: #fff !important;
}
.ant-calendar-today .ant-calendar-date {
  border-color: $btnColor;
  color: $btnColor;
}